<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jewelry Shop</title>
    <style>
        body{
            background-color: bisque;
        }
    </style>
</head>
<body>
    <header>
        <h1>Jewelry Shop</h1>
        <nav>
            <ul>
                <li>
                    <a href="/gemstones">Gemstones</a>
                </li>
                <li>
                    <a href="/golds">Gold Jewelry</a>
                </li>
                <li>
                    <a href="/forms">Contact Us</a>
                </li>
            </ul>
            
        </nav>
    </header>
    <img src="https://i.imgur.com/1vXBDTF.png">
    <img src="https://i.imgur.com/rc5tSek.png">
</body>
</html>