<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap" rel="stylesheet">
    <style>
        body {
           background-color: white;
           margin: 0;
           padding: 0;
           font-family: 'Kalam', cursive;
           text-align: center;
       }

       ul {
           list-style: none;
       }
       .nav-bar {
           list-style-type: none;
           margin: 0;
           padding: 0;
           overflow: hidden;
           background-color: wheat;
           position: sticky;
           top: 0;
       }

       .nav-bar li {
           display: inline;
           float: left;
           font-size: 20px;
       }

       .nav-bar li a {
           display: block;
           color: black;
           text-align: center;
           padding: 14px 16px;
           text-decoration: none;
       }

       .nav-bar li a:hover {
           background-color: linen;
       }
       h1{
           background-image: url('https://i.imgur.com/w8BmI5a.png');
           height: 250px; 
           color: white; 
           font-size: 100px;
           position: center; 
           background-repeat: no-repeat;
           background-size: cover; 
           margin: 0 0 30px 0; 
           padding-top: 50px; 
       }
       div {
            border-radius: 5px;
            background-color: wheat; 
            padding: 20px;
        }
        input[type=text], select {
            padding: 7px 20px; 
            width: 40%; 
            display: inline-block; 
            margin: 8px 0; 
            border-radius: 5px; 
            border: outset; 
            border-color: wheat; 
            box-sizing: border-box;

        }
        input[type=submit] {
            width: 25%; 
            background-color: rgb(205, 150, 106);
            color: black; 
            padding: 14px 20px; 
            margin: 8px 0; 
            border: none; 
            border-radius: 5px; 
            cursor: pointer;
        }
        input[type=submit]:hover {
            background-color: rgb(161,146,118);
        }
        #subject {
            padding: 10px 20px; 
            width: 40%; 
            display: inline-block; 
            margin: 15px 0; 
            border-radius: 5px; 
            border: outset; 
            border-color: wheat;
            font-family: Arial, Helvetica, sans-serif; 
        }
   </style>
   <title>Document</title>
</head>

<body>
    <nav>
        <ul class="nav-bar">
            <li><a href="/">Home</a></li>
            <li><a href="/golds">Shop Gold Jewelry</a></li>
            <li><a href="/gemstones">Shop Gemstone Jewelry</a></li>
            <li><a href="/forms">Contact Us</a></li>
            <li style="float:right"><a class="active" href="">LOGIN</a></li>
            <li style="float:right"><a class="active" href="">SIGN UP</a></li>
        </ul>
    </nav>
    <header>
        <h1>CONTACT US</h1>
    </header>

        <div class="container">
        
        <label for="name">Name</label>
        <input type="text" id="name" placeholder="Your name"><br />

        <label for="email">Email</label>
        <input type="text" id="email" placeholder="Your email"><br />

        <label for="issue">Issue</label>
        <select name="issue" id="issue" >
            <option value="returns">Returns + exchanges</option>
            <option value="shipping">Shipping</option>
            <option value="payment">Payments</option>
            <option value="covid">COVID-19</option>
        </select><br />

        <label for="subject"> Subject </label>
        <textarea name="subject" id="subject" placeholder="What can we help you w today?"cols="30" rows="6"></textarea><br />

        <input type="submit" value="Submit">
        
        </div>
   
</body>
</html>