<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gemstone Store</title>
    <style>
        body{
            background-color: bisque;
        }
        img{
            max-width: 200px;
            float: left; 
            padding: 5px; 
        }
        ul{
            list-style: none;
        }
    </style>
</head>
<body>
    <header>
        <h1>Gemstone Jewelry</h1>
        <img src="https://i.imgur.com/0uNwRFb.png">
        <nav>
            <ul>
                <li>
                    <a href="/">Homepage</a>
                </li>
                <li>
                    <a href="/gemstones/new">Create a New Gemstone Piece!</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Gemstone List</h2>
        <ul>
            <% for(let i=0; i < gemstones.length; i++) { %>
                <li>
                    <a href="/gemstones/<%= gemstones[i]._id %>"><img src="<%= gemstones[i].img %>"></a>
                </li>
            <% } %>
        </ul>
    </main>
</body>
</html>