<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jewelry Shop</title>
</head>

<body>
    <header>
        <h1>Create a New Gemstone Piece!</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Homepage</a>
                </li>
                <li>
                    <a href="/gemstones">Gemstone Index</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/gemstones" method="POST">
            Name: <input type="text" name="name" /><br />
            Description: <input type="text" name="description" /><br />
            Image: <input type="text" name="img"><br />
            Price: <input type="text" name="price" /><br />
            <input type="submit" value="Create Gemstone" />
        </form>
    </main>
</body>

</html>